@import "/static/css/switch.css";

.panel {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  width: 890px;
  margin: 0 auto;
  margin-top: 20px;
}
.panel .form_box{
    min-height: 234px;
}
.row {
  display: flex;
  padding: 10px 0;
}
.row .head {
  display: flex;
  align-items: center;
  width: 120px;
  text-align: right;
  margin-right: 15px;
  line-height: 1.8;
}
.row .value{
  display: flex;
  align-items: center;
}
.row .value input {
  width: 400px;
}

.submit_box {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit_box .submit_btn {
  width: 200px;
  padding: 10px;
  border-radius: 30px;
}
.btn{
  cursor: pointer;
  text-align: center;
  background-color: var(--btn-default-bg-color);
  color: var(--btn-default-color);
}
.btn:hover {
  background-color: var(--btn-default-hover-bg-color);
}

.tips_panel {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tips_panel .tips_row{
  display: flex;
}

.tips_row .item + .item{
  margin-left: 5px;
}

.space_list_box .head{
  align-items: start;
}
.space_list_box .value{
  align-items: end;
}

.space_list.noempty{
  margin-right: 20px;
}

.space_item{
  display: flex;
  align-items: center;
  opacity: 0;
}
.space_item.show{
  opacity: 1;
}
.space_item + .space_item{
  margin-top: 10px;
}
.space_add{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.space_btn{
  height: 2.1rem;
  border-radius: 50%;
  cursor: pointer;
}
.space_btn img{
  height: 2.1rem;
  width: 2.1rem;
}
.space_remove {
  margin-left: 10px;
}